<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/static/css/owl.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="/static/css/styleform.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>


  <title>Login #7</title>
</head>

<body>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/static/img/Mobile login-rafiki.png" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4 t1">
                <h3>
                    The data has been sent successfully. Wait for a response within days</h3>
                <h5>we will contact you </h5>
              </div>
              <!-- <form action="#" method="post">
                <div class="form-group first">
                  <label for="storename">store name</label>
                  <input type="text" class="form-control" id="username">

                </div>
                <div class="form-group last mb-4">

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Choose your product type</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">

                      <option selected>Choose your product type</option>
                      <option value="1">food</option>
                      <option value="2">handmade</option>
                      <option value="3">clothes</option>
                    </select>
                  </div>
                </div> -->
                <!-- <div class="form-group three"> -->
                  <!-- <label for="phonenum">phone number</label> -->
                  <!-- <input id="phone" type="tel" name="phone" /> -->

                <!-- </div> -->

                <!-- 
                <div class="d-flex mb-5 align-items-center">
                  <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                    <input type="checkbox" checked="checked" />
                    <div class="control__indicator"></div>
                  </label>
                  <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                </div> -->

                <!-- <input type="submit" value="sent" class="btn btn-block btn-primary"> -->

                <!-- <span class="d-block text-left my-4 text-muted">&mdash; or login with &mdash;</span> -->
<!-- 
                <div class="social-login">
                  <a href="#" class="facebook">
                    <span class="icon-facebook mr-3"></span>
                  </a>
                  <a href="#" class="twitter">
                    <span class="icon-twitter mr-3"></span>
                  </a>
                  <a href="#" class="google">
                    <span class="icon-google mr-3"></span>
                  </a>
                </div> -->
              </form>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
      utilsScript:
        "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
  </script>

  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/mainform.js"></script>
</body>

</html>